@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Campo Grande-MS<br />
    Brasil<br />
    <abbr title="Whats">Celular:</abbr>
    67 99325-1088
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:jrmsz1@gmail.com">jrmsz1@gmail.com</a><br />
</address>