@{
    ViewBag.Title = "Informações Gerais";
}
<h2>@ViewBag.Title.</h2>
<h3>Versão EntityFramework: @ViewBag.EntityFramework</h3>
<h3>Versão Npgsql: @ViewBag.Postgres</h3>
<h3>Versão do MVC: @ViewBag.MVC</h3>
